<!DOCTYPE html>
<html>
  <head>
    <title>MassRoute</title>
      <link rel='stylesheet' href='/stylesheets/reset.css' />
      <link rel='stylesheet' href='/stylesheets/massroute.css' />
  </head>
  <body>
    <%- body %>
    <footer>
		<p class="attribution">massroute is made possible by <a href="http://www.twitter.com/MassDOTdev">@MassDot</a>. <a href="http://www.eot.state.ma.us/developers/realtime/">learn more</a></p>
	</footer>
	<script src="/script/massroute.js"></script>
  </body>
</html>