<!DOCTYPE html>
<html>
  <head>
    <title>MassRoute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/massroute.css' />
  </head>
  <body>
  	<%- body %>
    <div class="modal-overlay">
      <div class="loading-modal"><p>loading...</p></div>
    </div>
    <footer>
		<p class="attribution">massroute is made possible by <a class="credit-link" href="http://www.twitter.com/MassDOTdev">@MassDot</a>.</p> 
		<p class="attribution"><a class="credit-link" href="http://www.eot.state.ma.us/developers/realtime/">learn more</a></p>
	</footer>
	<script src="/script/massroute.js"></script>
  </body>
</html>