<header id="header">
	<h1 class="title">Routes</h1>
	<h2>Select a route to show destinations</h2>
</header>
<section id="section">
	<ul id="routes" class="list">
	  <% routes.forEach(function(route){ %>
	    <li class="routelist-item">
	    	<img src="assets/graphics/bus_icon.png" />
	    	<a href="/routes/<%= route.tag %>"><%= route.title %></a>
	   	</li>
	  <% }) %>
	</ul>
	<p class="attribution">massroute is made possible by <a class="credit-link" href="http://www.twitter.com/MassDOTdev">@MassDot</a>.</p> 
	<p><a class="credit-link" href="http://www.eot.state.ma.us/developers/realtime/">learn more</a></p>
</section>